// img
// {
//     max-width: 100%;
//     height: auto;
//     background: lightblue;
//     background: radial-gradient(white 30%, lightblue 70%);
// }

.componentes
{
    margin-top: 100px;
}

.fa-star, .fa-star-half
{
    color: $colorazul;
    padding: 3% 0%;
}
