
footer 
{
    background-color:$colortransparente;
    .iconos-footer
    {
    color: $colorverde;
    font-size: 2em;
    }
    a
    {
        color:$colorverde;
    }
    .copyright
    {
        background-color: #ffffff;
    }
}